body {
  background-color: #0f0f0f;
  color: #defdef;
  font-family: sans-serif;
}
a:hover {
  color: red;
}
h1, h2, h3 {
  font-weight: normal;
}
textarea {
  font-family: monospace;
  font-size: larger;
  height: 15em;
  width: 100%;
  max-width: 111ex;
}
.snippet {
  color: orange;
}

.literal { color: #2b4; }
#log {
	font-family: monospace;
	height: 500px;
	overflow: scroll;
}

.dim {
  filter: brightness(30%);
}

.event {
  color: #77F;
}